body,html{
    width:100%;
    height:100%;
    overflow-x:hidden;
    padding:0px;
    margin:0px;
    font-size:15px;
    background:white;
}
#btn{
    border-radius:30px;
    background:linear-gradient(to right, turquoise,greenyellow);
    box-shadow:none;
    margin:5px;
    width:200px;
}
#btn:hover{
    background:transparent;
    color:black;
}
#btn2{
    border-radius:30px;
    border:2px solid linear-gradient(to right, turquoise,greenyellow);
    background:transparent;
    width:200px;
    transition:all;
    color:turquoise; 
    box-shadow:none;
    transition-delay:none;
}
#btn2:hover{
    border-radius:30px;
    background:linear-gradient(to right, turquoise,greenyellow);
    color:black;
}
nav{
    text-align:center;
    border-bottom:2px solid white;
    box-shadow:3px 2px 2px 2px whitesmoke;
    background:green;
    font-size:15px;
    top:0px;
    position:sticky;
}
.head{
    margin:20px;
}
.img-fluid{
    margin:5px;
}
.box{
    box-shadow:3px 2px 3px 2px silver;
    min-height:150px;
    min-width:70%;
    max-width:100%;
    max-height:300px;
    margin:10px;
    padding:10px;
    float:center;
}
@media only screen and (min-width:760px){
    #groot{
        display:none;
    }
}
@media only screen and (max-width:700px){
    #groot{
        display:block;
    }
    #grit{
        display:none;
    }
}
#section2{
    background:silver;
    color:black;
    min-width:10%;
    max-width:100%;
    padding:20px;
}
.counter{
    font-size:30px;
    margin-top:10px;
}
#download{
    background:radial-gradient(blue,purple);
    padding:20px;
    margin-bottom:50px;
    color:white;
}
.h5{
    margin-top:30px;
    font-size:25px;
}
#fr{
    width:70px;
}
main{
    background:linear-gradient( to left ,blue,thistle);
    padding:60px;
    margin:0px auto;
    color:white;
     transform:skew(0deg, 0deg);
}
.icon{
    font-size:60px;
    color:plum;
}
.err{
    font-size:20px;
}
.card-body{
    border:2px dashed purple;
    margin-bottom:10px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius: 20px;
    border-top:none;
}
.card{
    border:0.6px solid silver;
}
#gt{
    padding:10px;
}
#drr{
    margin-top:70px;
}
input[type=text],[type=password],[type=number],[type=Email],select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
#btn3{
    background:linear-gradient(to right, turquoise,greenyellow);
    box-shadow:none;
    padding:9px;
    border-radius:20px;
}
footer{
    background:navy;
    color:white;
    padding-top:50px;
}
#icon{
color:white;
padding:5px;
font-size:20px;
margin:10px;
}
#doood{
color:white;
text-decoration:none;
}
#doood:hover{
    text-decoration:none;
    color:black
}
.ai{
    margin-top:40px;
}
#icon1{
font-size:40px;
color:palevioletred;
}
#icon2{
    font-size:40px;
    color:blue;
}
#icon3{
font-size:40px;
color:red;
}
#icon4{
font-size:40px;
color:green;
}
#icon5{
font-size:40px;
color:teal;
}
#icon6{
font-size:40px;
color:skyblue;
}
#icon7{
font-size:40px;
color:tomato;
}
#icon8{
font-size:40px;
color:yellowgreen;
}
#icon9{
    font-size:40px;
    color:indigo;
    }
    .img-caption{
        background:linear-gradient(to right, steelblue, turquoise);
        position: absolute;
        top:200px;
        left:100px;
        width:200px;
        color:white;
        display:none;
        transition:all;
    }
    #fo{
        color:white;
    }
    hr{
        background-color:white;
    }
    .der{
        font-size:30px;
        font-weight:bold;
    }
    #card{
        margin:5px;
        box-shadow:2px 2px 5px whitesmoke;
    }
    #ft{
        color:purple;
        font-size:15px;
    }
    #gt{
        padding:10px;
    }
    #cogs{
        color:purple;
        font-size:30px;
        margin:20px;
    }
    .left{
        text-decoration:underline;
        color:purple;
    }
    #error3,#error1,#error2{
        color:red;
    }
     iframe{
        height:500px;
        width:100%;
        padding:0px;
        margin:0px auto;
        margin-top:20px;
     }
     h4{
         padding-top:10px;
     }
